.DFlex_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.centralizar70Porc {
    width: 70%;
    margin: 0 auto;
}

.centralizar90Porc {
    width: 90%;
    margin: 0 auto;
}

.centralizar80Porc {
    width: 80%;
    margin: 0 auto;
}

.icone {
    height: 35px;
    margin-right: 10px;
}

.buttonMenu{
    background-color: darkgrey;
    border: 2px solid darkgrey;
    color: white;
}