header {
    height: 120px;
    background-color: darkgrey;
}

nav.DFlex_row {
    justify-content: space-between;
    height: 100%;

    margin-left: 2%;
    margin-right: 2%;
}

.logo h2 {
    font-size: 40px;
}

.logo a{
    padding: 0px;
    text-decoration: none;
}

.logo a:hover{
    border-bottom: none;
}

.divUsuarioOn {
    height: auto;
}

.usuarioOn {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 17px;
    padding: 10px;
    width: 300px;
}

div.link .BtnSair {
    display: none;
}

.BtnSair {
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
    border: 2px solid rgb(165, 3, 3);
    color: rgb(165, 3, 3);
}

.BtnSair:hover {
    border: 2px solid red;
}

/*Estilização para o conteudo do header*/

section{
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

section h1{
    font-size: 50px;
    text-align: center;
}

section hr{
    border: 2px solid darkgrey;
}

/*Estilização para o conteudo do section da tabela*/

section.TabelaAlertas{
    margin-top: 60px;
    height: auto;
    border: 2px solid darkgray;
    padding-left: 50px;
    padding-right: 50px;
    overflow: auto;
}

.tituloTabela{
    font-size: 25px;
    padding-bottom: 40px;
}

.paragrafoAviso{
    padding-bottom: 15px;
}

.paragrafoAviso p{
    font-size: 25px;
    color: red;
}

.TabelaMenuAcesso{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.TabelaMenuAcesso thead tr{
    background-color: rgb(231, 231, 231);
    height: 70px;
}

th{
    padding-left: 5px;
    width: 20%;
    border: 2px solid darkgray;
}

.TabelaMenuAcesso tbody tr{
    width: 100%;
    height: 50px;
}

td{
    border-left: 2px solid darkgray;
    border-right: 2px solid darkgray;
    border-bottom: 1px solid darkgray;
}

.BtnCancelarAcao{
    font-size: 15px;
    padding: 10px;
    border: none;
    border-radius: 0;
    background-color: rgb(231, 231, 231);
}

@media screen and (max-width: 424px){
    header {
        height: auto;
        background-color: darkgrey;
    }

    nav.DFlex_row {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 20px;

        border: 2px solid red;
    }
    
    .logo img{
        display: none;
    }

    .logo h1 {
        font-size: 30px;
    }

    div.link{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
    }

    div.link a.BtnSair {
        display: inline;
        border: none;
        text-transform: uppercase;
        font-weight: bold;
    }

    div.link a.BtnSair:hover {
        border-bottom: 2px solid rgb(165, 3, 3);
    }

    .divUsuarioOn {
        display: none;
    }
}

@media screen and (max-width: 660px) {

    .tituloPagina{
        width: 98%;
    }

    section.TabelaAlertas{
        padding: 0;
        width: 98%;
    }

    .tituloTabela{
        font-size: 25px;
        padding-bottom: 40px;
    }

    section.TabelaAlertas hr{
        display: none;
    }
}

@media screen and (max-width: 849px) and (min-width: 425px){
    header {
        height: 140px;
        background-color: darkgrey;
    }

    nav.DFlex_row {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    div.link a.BtnSair {
        display: inline;
        border: none;
        text-transform: uppercase;
        font-weight: bold;
    }

    div.link a.BtnSair:hover {
        border-bottom: 2px solid rgb(165, 3, 3);
    }

    .divUsuarioOn {
        display: none;
    }

    .paragrafoAviso p{
        font-size: 15px;
        color: red;
    }
}

@media screen and (max-width: 1200px) and (min-width: 850px) {
    .divUsuarioOn {
        display: none;
    }

    div.link .BtnSair {
        display: inline;
    }

    .paragrafoAviso p{
        font-size: 20px;
        color: red;
    }
}